<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <targets async="true">
    <target name="Elastic" xsi:type="BufferingWrapper" flushTimeout="5000" slidingTimeout="true" xdt:Transform="Insert">
      <target xsi:type="ElasticSearch"
              connectionStringName="ElasticUri"
              index="${configuration:Elastic!Index!Prefix}-${date:format=yyyy.MM.dd}"
              includeAllProperties="true"
              layout="${message}  ${exception:format=tostring:maxInnerExceptionLevel=10}">
        <field name="logger" layout="${logger:shortName=true}" />
        <field name="processid" layout="${processid}" />
        <field name="processname" layout="${processname:fullName=true}" />
        <field name="machinename" layout="${machinename}" />
        <field name="threadid" layout="${threadid}" />
        <field name="projectid" layout="host" />
      </target>
    </target>
    <target name="File" xsi:type="File" layout="${defaultLayout}" fileName="${basedir}/logs/logfile.txt" keepFileOpen="false" xdt:Transform="Insert" />
  </targets>
  <rules xdt:Transform="Replace">
    <logger name="*" minlevel="Debug" writeTo="Elastic" />
  </rules>
</nlog>