<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <targets async="true">
    <target name="File" xsi:type="File" layout="${defaultLayout}" fileName="logs/logfile.txt" keepFileOpen="false" xdt:Transform="Insert" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="File" xdt:Transform="Insert" />
  </rules>
</nlog>