.dockerignore
.env
.git
.gitignore
.gitattributes
.vs
.vscode
debug.cake
install-vs-code-dependencies.ps1
**/docker-compose.yml
**/docker-compose.override.yml
Dockerfile
tools
.buildArtifacts
.idea
**/bin
**/obj
**/.toolstarget